.projects {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  &__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Syne Mono', monospace;
    background-color: $secondary-color-light;
    color: $light-color;
    padding: 5px 20px;
    border-radius: 20px;
    @include tablet {
      font-size: 40px;
    }
  }
  &__text {
    margin-bottom: 20px;
    @include tablet{
      font-size: 16px;
    }
  }
  
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: 300px;
    line-height: 27px;
    justify-content: center;
    margin-top: 30px;
    @include tablet {
        max-width: 700px;
    }
    @include desktop {
        max-width: 1350px;
        justify-content: space-around;
    }
    
    &__pro {
      margin:auto;
    }
  }
}
