.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  // background-color: $primary-color;
  // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: $primary-color;
  border-radius: 5px;
  @include tablet {
    position: relative;
    height: 450px;
    width: 500px;
    margin: 10px;
    &:hover{
      .container__img{
        height: 40%;
        width: 50%;
      transition: 1s ease-in-out;
      }
      &:hover {
        .container__text{
          transition: ease-in 0.5s;
      height: 50%;
        }
      }
    }
  }

  &__img {
    width: 315px;
    height: 230px;
    @include tablet{
      position: absolute;
      bottom: 20px;
      width: 100%;
      height: 75%;
      transition: 1s ease-in-out;
    }
    
    img {
      width: 90%;
      height: 100%;
      border-radius: 5px;
      // box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.651);
    }
  }
  &__hiddenInfo {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 250px;
    padding: 10px 15px;
    border-radius: 5px;
    
    @include tablet {
      width: 100%;
      height: 70%;
      padding: 10px;
      position: absolute;
      justify-content: center;
      top: 0;
      z-index: -1;
      background-color: $primary-color;
      
    }

    &__info{
      margin-top: 15px;
      margin-bottom: 5px;
      padding: 20px;
      color: $primary-color-light;
      @include tablet{
        font-size: 16px;
      }
    }

    &__title {
      margin: 5px 0;
      color: $primary-color-light;
      @include tablet{
        font-size: 18px;
      }
    }
    &__tecnologies{
      color: $secondary-color-light;
      // font-weight: bold;
      @include tablet{
        font-size: 16px;
        color: $light-color;
      }
    }
    &__links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .linkProject {
        padding: 10px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: red;

        &:hover {
          & span {
            color: $light-color;
            // border-bottom: 1px solid $secondary-color;
          }
          & .web,
          .repo {
            background-color: $light-color;
          }
        }
        & i {
          margin: 0 10px;
        }
        & .fab {
          font-size: 30px;
          font-weight: lighter;
        }
        & img {
          width: 40px;
          border-radius: 5px;
          padding: 5px;
        }
        & span {
          color: $primary-color-light;
          @include tablet{
            font-size: 16px;
          }
        }
        & .web,
        .repo {
          background-color: $primary-color-light;
        }
      }
    }
    
  }
 /*  &__info {
    &:hover {
      cursor: pointer;
      color: $light-color;
      .container__text {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      }
    }
  } */

  
}
