.hero {
  height: 100vh;
  padding: 130px 10px;

  &__container {
    &__title {
      font-size: 30px;
      margin: 0px;
      // height: 60px;

      @media all and (min-width: 768px) {
        font-size: 60px;
        line-height: 64px;
        height: auto;
      }

      &__job {
        font-weight: bold;
        text-decoration: underline;
      }
    }
    &__adjectives {
      font-size: 30px;
      height: 60px;
      display: inline;
      color: $primary-color;
      margin: 10px auto;
      border-radius: 15px;

      @media all and (min-width: 768px) {
        font-size: 60px;
        line-height: 64px;
        height: auto;
      }
    }
    &__name {
      font-size: 30px;
      display: inline;
      background-color: $primary-color;
      color: $secondary-color;
      width: 500px;
      padding: 0 10px;
      border-radius: 15px;

      @media all and (min-width: 768px) {
        font-size: 60px;
        line-height: 70px;
        height: auto;
      }
    }
  }
}
