.hero {
  height: 100vh;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__imgCont {
    padding: 20px;
    animation: fadeIn;
    animation-duration: 4s;
    &:hover {
      width: 210px;
      height: 210px;
      transition: background-color ease 1s;
      background-color: rgba(158, 192, 205,0.6);
      padding: 20px 10px 5px 10px;
      border-radius: 50%;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      @include tablet {
        width: 315px;
        height: 315px;
      }
      @include desktop {
        width: 420px;
        height: 420px;
      }
      & .hero__imgCont__info {
        display: inline;
      }
      .hero__imgCont__img {
        width: 170px;
        height: 170px;
        @include tablet {
          width: 270px;
          height: 270px;
        }
        @include desktop {
          width: 370px;
          height: 370px;
        }
      }
    }
    &__img {
      width: 150px;
      height: 150px;
      margin: auto;

      @include tablet {
        width: 250px;
        height: 250px;
      }
      @include desktop {
        width: 350px;
        height: 350px;
        margin-bottom: 0px;
      }

      & img {
        width: 100%;
        border-radius: 50%;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      }
    }
    &__info {
      position: relative;
      bottom: 15%;
      color: $primary-color-light;
      display: none;
      &:hover {
        color: $light-color;
      }
    }
  }
  &__container {
    @include desktop{
      padding-top: 60px;
    }
    &__title {
      font-size: 30px;
      margin: 0px;
      // height: 60px;
      text-align: left;

      @media all and (min-width: 768px) {
        font-size: 60px;
        line-height: 64px;
        height: auto;
      }

      &__job {
        font-size: 30px;
        font-weight: bold;
        text-decoration: underline;
        @media all and (min-width: 768px) {
          font-size: 60px;
        }
      }
    }
    &__adjectives {
      font-size: 30px;
      height: 60px;
      display: inline;
      color: $secondary-color-light;
      margin: 10px auto;
      border-radius: 15px;

      @media all and (min-width: 768px) {
        font-size: 60px;
        line-height: 64px;
        height: auto;
      }
    }
    &__name {
      font-size: 30px;
      font-weight: bold;
      display: inline;
      background-color: $secondary-color-light;
      color: $light-color;
      width: 500px;
      padding: 0 10px;
      border-radius: 15px;

      @media all and (min-width: 768px) {
        font-size: 60px;
        line-height: 70px;
        height: auto;
      }
    }
  }
}
.skewed-hero {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: -1;
  background-color: $light-color;
  transform-origin: top left;
  // -webkit-animation-name: none-animation;
  // animation-name: none-animation;
  // -webkit-animation-name: initial-animation;
  // animation-name: initial-animation;
  // -webkit-animation-duration: 2s;
  // animation-duration: 2s;
  // -webkit-animation-iteration-count: 1;
  // animation-iteration-count: 1;
  // -webkit-animation-timing-function: ease-in-out;
  // animation-timing-function: ease-in-out;
  transform: skewY(-8deg);
  @include tablet {
    top: 200px;
  }
}
