* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  padding: 0;
  margin: 0;
  color: #444;
  font-family: 'Rubik', sans-serif;
  z-index: 1;
}

.App {
  text-align: center;
  background-color: #fdf5ef;
  padding: 0 20px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
