* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  padding: 0;
  margin: 0;
  // color: #444;
  color: #2d626c;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  z-index: 1;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  background-color:#9ec0cd;
  // padding: 0 20px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
