* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.header {
  background-color: #f79cb3;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}
/* .nav {
  display: none;
}
@media all and (min-width: 768px) {
  .nav {
    display: block;
  }
} */
.nav-list {
  display: flex;
  cursor: pointer;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav-list li::after {
  content: '|';
}
.nav-list li:last-child::after {
  content: none;
}
.nav-list li a {
  padding: 15px;
}
.nav-list li a:hover {
  color: white;
}

.bracket-left {
  width: 20px;
  height: 50px;
  font-size: 30px;
  /* background-image: url('../images/open\ bracket.png');
  background-position: center;
  background-size: cover; */
}
.bracket-left:hover,
.bracket-right:hover {
  color: white;
}

.bracket-right {
  width: 20px;
  height: 50px;
  font-size: 30px;
  /* background-image: url('../images/close\ bracket.png');
  background-position: center;
  background-size: cover; */
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
