//Colors
$dark-color: #444444;
$primary-color: lightcoral;
$primary-color-light: rgba(240, 128, 128, 0.3);
$secondary-color: #fdf5ef;
$secondary-color-light: rgba(253, 245, 239, 0.9);

//Size
$tablet: 768px;
$desktop: 1280px;
