//Colors
$dark-color: #444444;
$light-color: #f3e8ea;
$primary-color: #2d626c;
$primary-color-light: #9ec0cd;
$secondary-color: #68417f;
$secondary-color-light: #c66aab;
$tertiary-color: #955e83;
$tertiary-color-light: #cfb8c3;

//Size
$tablet: 768px;
$desktop: 1280px;
