.header {
  min-height: 30px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  width: 100%;

  .menu {
    background-color: rgba(253, 245, 239, 0.9);
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    @include tablet {
      justify-content: flex-end;
      padding: 5px;
      font-size: 16px;
      width: auto;
    }

    .nav-list {
      display: flex;
      flex-wrap: wrap;
      cursor: pointer;
      list-style-type: none;
      align-items: center;
      justify-content: center;

      & li::after {
        content: '|';
        margin-left: 5px;
      }
      & li:last-child::after {
        content: none;
      }

      & li {
        padding: 5px;
      }
      & a {
        padding: 0 5px;
        font-family: 'Syne Mono', monospace;
        font-weight: lighter;
        @include tablet {
          padding: 0 15px;
        }
      }
      & a:hover {
        color: $primary-color;
      }
    }

    .bracket-left,
    .bracket-right {
      width: 35px;
      height: 40px;
      font-size: 20px;
      line-height: 1.7;
      color: $primary-color;
      @include tablet {
        font-size: 30px;
        line-height: normal;
      }
    }
    .bracket-left:hover,
    .bracket-right:hover {
      color: $dark-color;
    }

    .hidden {
      display: none;
    }
  }
}
