.header {
  min-height: 30px;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 999;

  .menu {
    background-color: rgba(158, 192, 205,0.8);
    // border-radius: 10px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    margin-right: auto;
    @include tablet {
      justify-content: flex-end;
      padding: 5px;
      font-size: 16px;
      width: auto;
    }

    .nav-list {
      display: flex;
      flex-wrap: wrap;
      cursor: pointer;
      list-style-type: none;
      align-items: center;
      justify-content: center;

      & li::after {
        content: '|';
        margin-left: 5px;
      }
      & li:last-child::after {
        content: none;
      }

      & li {
        padding: 5px;
      }
      & a {
        padding: 0 5px;
        font-family: 'Syne Mono', monospace;
        font-weight: lighter;
        @include tablet {
          padding: 0 15px;
          font-size: 16px;
        }
      }
      & a:hover {
        color: $light-color;
      }
      &--item {
        transition: color .1s ease-in;

        a {
            display: inline-block;

        }

        // Font Awesome icons
        .fas,
        .fab,
        .far {
            opacity: 0;
            transition: opacity .1s ease-in;
            color: salmon;
        }

        &:hover {
            color: blue;
            color: salmon;

            .fas,
            .fab,
            .far {
                opacity: 1;

            }
        }
    }
    }

    .bracket-left,
    .bracket-right {
      width: 35px;
      height: 40px;
      font-size: 20px;
      line-height: 1.7;
      color: $primary-color;
      @include tablet {
        font-size: 30px;
        line-height: normal;
      }
    }
    .bracket-left:hover,
    .bracket-right:hover {
      color: $light-color;
    }

    .hidden {
      display: none;
    }
  }
}
