.link {
  text-decoration: underline;
  color: $primary-color;
  padding: 10px 20px;
  font-family: 'Syne Mono', monospace;
  font-weight: lighter;
  font-size: 14px;

  &:hover {
    color: $secondary-color-light;
    font-size: 16px;
  }

  @media all and (min-width: 768px) {
    font-size: 18px;
    &:hover{
      font-size: 20px;
    }
  }
}
