.aboutMe {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin-bottom: 60px;
    font-size: 30px;
    font-family: 'Syne Mono', monospace;
    background-color: $secondary-color-light;
    color: $light-color;
    padding: 5px 20px;
    border-radius: 20px;
    @include tablet {
      font-size: 40px;
    }
  }
  &__imgCont {
    width: 150px;
    margin-bottom: 20px;
    // background-image: ;
    @include tablet {
      width: 250px;
    }
    &__img {
      width: 100%;
      border-radius: 50%;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
  &__textCont {
    width: 90%;
    margin-bottom: 40px;
    &__text {
      text-align: justify;
      line-height: 1.5;
      @include tablet{
        font-size: 16px;
        strong {
        font-size: 16px;
        }
      }
    }
  }
  &__menu{
    flex-basis: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;

    .Link{
      border: none;
      padding: 3px 5px;
      background-color: $secondary-color-light;
      border-radius: 4px;
      color: $light-color;
      transition: all .5s ease;
      outline: none;
      &:hover {
        cursor: pointer;
        background-color: $primary-color;
        color: white;
      }
      &:focus {
        outline: none;
        color: $primary-color-light;
        background-color: $primary-color;
      }
    }
  }
  .hidden{
    display: none;
  }
}